
.main-nav{
  display: flex;
  justify-content: space-around;
  padding: 10px;
}
.user{
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
 }

 .user{
  font-size: 30px;
 }
 .logo{
width: 100%;

 }
.search{
  width: 100%;
  border-radius: 20px;
  padding: 8px;
}
.nav-bar-second{
    background-color: rgb(24, 24, 24);
    padding: 10px;
}


@media only screen and (min-width:600px) and  (max-width:700px){
  .main-nav{
    display: flex;
    justify-content: space-around;
    padding: 10px;
  }
  .user{
      /* border: 1px solid white; */
      display: flex;
      justify-content: space-between;
}
.user{
  font-size: 30px;
 }
   .logo{
  width: 100%;
  
   }
  .search{
    width: 100%;
    border-radius: 20px;
    padding: 5px;
  }
  .nav-bar-second{
      background-color: rgb(24, 24, 24);
      padding: 10px;
  }
  
  @media only screen and (min-width: 300px) and (max-width: 600px) {
    .main-nav {
      display: flex;
      justify-content: space-around;
    }
  
    .user {
      font-size: 30px;
    }
  
    .search {
      width: 100%;
    border-radius: 20px;

    }
  
    
  
    .logo {
      width: 100%;
    }
  
    .search {
      width: 50%;
      border-radius: 20px;
      font-size: 10px;
    }
  }
}